.Hashtag-ButtonCopy button {
  border-radius: 50%;
  box-shadow:inset 30px 30px 75px rgba(52, 214, 255, 0.1),
              inset 0px 0px 15px rgba(0,0,0,.5),
              inset 0px 0px 55px rgba(255,255,255,.5),
              inset 3px 3px 5px rgba(52, 214, 255, 0.5),
              0 0 50px rgba(255,255,255,.75);
  background:rgba(255, 255, 255, 0.4);
  border: 0;
  font-size: 12px;
  padding-top: calc(50% - 6px);
  padding-bottom: calc(50% - 6px);
  padding-right: 10px;
  padding-left: 10px;
}

/* .Hashtag-ButtonCopy {
  position: relative;
} */