.Hashtag {
    position: relative;
}

.Hashtag button {
    border: none;
    margin: 2px;
    background: radial-gradient(circle at 33% 100%, #fff 4%, #e7e7e7 30%, #d6d6d6 62%, #d3d3d3 85%, #d1d1d1);
}

.Hashtag button:focus {
    outline: none;
}

.Hashtag-popup {
    padding: 5px;
    height: 20px;
    width: 50px;
    color: #000;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    background-color: #e6e6e6;
    align-self: start;
    justify-self: center;
    position: absolute;
    top: -40px;
    right: calc(50% - 30px);
}

.Hashtag-popup:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e6e6e6 transparent transparent transparent;
}

.Tilt {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}

/* .instagram {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);

    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
} */
